.login{

  &-container{
    background-image: url("https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-panel{
    width: 500px;
    height: 275px;
    background-color: #fafafa;
    position: absolute;

    margin-left: -250px;
    margin-top: -130px;
    left: 50%;
    top: 50%;

    border-radius: 3px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0);

    &-content{
      padding: 30px 75px;

      &-button {
        width: 120px;
      }
    }
  }


}

